.sudoku {
  height: 100vh;
  text-align: center;
}

.sudoku-logo {
  width: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.button {
  /* width: 15%; */
  display: inline-flex;
  text-align: center;
  justify-content: space-evenly;
}

.firstFont {
  font-family: Helvetica Neue;
  font-weight: bold;
  color: #bc75ff;
  /* font-size: 60px; */
}

.secondFont {
  height: 0;
  font-family: Helvetica Neue;
  font-weight: bold;
  /* font-size: 25px; */
}

.thirdFont {
  font-family: Helvetica Neue;
  font-weight: bold;
  /* font-size: 62px; */
  margin: 1px;
}

.fourthFont {
  font-family: Helvetica Neue;
  /* font-size: 25px; */
  margin-bottom: 40px;
}

.button {
  width: 40%;
  font-size: 15px;
  font-family: Helvetica Neue;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.sub,
.learn {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  width: 90%;
  padding: 14px;
  background-color: silver;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #00000029;
}

.sub:hover,
.learn:hover {
  background-color: #62a4ff;
  cursor: context-menu;
}
