.Sudoku {
	background-image: url("../images/Diamonds.jpg");
	height: 100vh;
	text-align:center;

}

.Board {
	height:auto;
	width: 30vw;
	display: inline-block;
	background-color:red;
	margin: auto;

}

input {
	padding: 0;
	margin: 0;
	height: 40px;
	width: 40px;
	font-size: 28px;
	font-weight: bold;
	border-color:  grey;
	background: #FFFFFF;
}

input[type="text"]:disabled{background-color: #cdcac9;}
input[type="text"]:disabled{color: black;}
input[type="text"]:focus{background: #608CFF;}

.Square_Input {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	
}

.Square {
	border: 0.5px solid grey;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align:center;
}

.Board_RowData {
	display: flex;
	width: 30vw;
	height: 7vh;
	background-color: red;
}

.SudokuButtons {
	display: inline-flex;
	margin-bottom:2%;
}