.Sudoku {
    text-align: center;
}

.Board {
	/* height: 10vh;
	width: 50vw; */
	
}
div {
	height:20px;
}
.Square1 {

	background-color: red;
	/* -webkit-box-sizing: border-box; Safari/Chrome, other WebKit 
    -moz-box-sizing: border-box; Firefox, other Gecko  */
	/* box-sizing: border-box;          */
	/*Opera/IE 8+*/
	/* border: 0.5px solid black;  */
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 28px; 
} 

input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	/*box-sizing: border-box;      /*   Opera/IE 8+
	/* border: 0.5px solid black; */
	padding: 0;
	margin: 0;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 28px;
}


.Square {
	display:grid;
	grid-template-rows: repeat(9, 1fr);
	grid-template-columns: repeat(9, 1fr);
	/* grid-column-gap: 3px;
	grid-row-gap: 3px; */
	/* background-color: blue; */
	padding: 0;
	margin: 0;
	height: 50px;
	width: 100vw;
	text-align: center;
	font-size: 28px;

}

.row {
	display:inline-grid;
	width:50px;
	height:50px;
}


input[type="text"]:disabled{background-color:#ededed;}