.App {
	/* background-color: whitesmoke; */
	background-image: url("./images/Diamonds.jpg");
  font-family: 'Roboto';
  height: 100vh;
}

.forest-mode .App {
  background-image: url("./images/forest.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.dark-mode .App {
  color: #fff;
	background-color: #313843;
	background-image: none;

  }


  .dark-mode .formControl {
    color: black;
    }

