.App {
	background-image: url("./images/Diamonds.jpg");
	font-family: 'Julius Sans One';
}

.MuiBottomNavigation-root {
	position: absolute;
	bottom: 0;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.image {
		display:hidden;
	}
	.mediaImage{
	  display: none;
	}
	main  {
		justify-self: center;
		margin: 64px 40px 64px 40px;
	}
	.MuiContainer-root {
		flex-flow: row wrap;
	}
} 

.team-list {
	border: 0;
	padding: 1rem;
	cursor: pointer;
	position: relative;
	margin: 1rem auto;
	width: 95%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.about-container{
	margin:0 auto;

}
.about {
	text-align: center;
	font-size: 2rem;
}